/*****************************TAG SELECTORS*************************************/
body {
    background-color: azure;
}
hr { 
    border-style:dotted none none; 
    border-width:5px 0 0;
    color:gray;
    height:10px;
    opacity:50%; 
    width:3%;  
}
h1 {
    color:darkcyan;
}
h3 {
    color:darkcyan;
}

/****************************CLASS SELECTORS************************************/